/* 
    Document   : estilo
    Created on : 25/11/2013, 17:23:26
    Author     : Eduardo
    Description:
        Purpose of the stylesheet follows.
*/

.conteudo { 
    margin-top: 6%;
}


@media (min-width: 1800px) {
.centralizar {
    margin-left: 8%;
}
}